# Descrição de Chaves de Ambiente necessárias para a Execução do Servidor

# Ativação do modo de debug
DEBUG=true

# Pasta que contém os arquivos de configuração
CONFIG_DIR=./config/server/

# Pasta que contém os arquivos de armazenamento de dados
DATA_DIR=

# Pasta que contém os arquivos de armazenamento de logs
LOG_DIR=

# Arquivos de logs produzidos pelo servidor
OPERATION_LOG_FILE= # operações
WARNING_LOG_FILE= # warnings
ERROR_LOG_FILE= # erros

# Porta de execução do Express.js
PORT=

# Informações do banco de dados
DATABASE_PATH= # diretório para o banco de dados
DATABASE_NAME= # nome do banco de dados

SQL_INSTRUCTIONS_PATH=./src/server/database/ # diretório para os instruções SQL
