# Descrição de Chaves de Ambiente necessárias para a Execução do Servidor

# Porta de execução do Express.js
PORT=

# Informações do banco de dados
DATABASE_PATH= # diretório para o banco de dados
DATABASE_NAME= # nome do banco de dados

SQL_INSTRUCTIONS_PATH=./src/server/database/ # diretório para os comandos SQL
