# VS Code
.vscode
.VSCodeCounter

# Git
.git

# Node
/node_modules
/dist

package-lock.json

**/*.js
**/*.js.map
**/*.d.ts
**/*.d.ts.map

# Poetry
poetry.lock

# Python
__pycache__

*.pyc
*.pyi

# CMake
/build

# Binaries
**/Release
**/Debug

/bin
/lib

*.pyd
*.exp
*.lib
