# VS Code
.vscode
.VSCodeCounter

# Git
.git

# Node
/node_modules
/dist

package-lock.json
*.tsbuildinfo

**/*.js
**/*.js.map
**/*.d.ts
**/*.d.ts.map

# Poetry
poetry.lock

# Python
__pycache__

# CMake
/build

# Environments
.env

# Storage
/logs
/data

# Client Files
manifest.json

# General Unuseful Annotations...
.annotations
